<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/stats.css">
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <%- include("partials/sidebar.ejs") %>
    <div id="main">
        <div id="stats">
            <div id="stat-container-1" class="stat-container">
                <h3 class="stat-name">
                    this is a stat name
                </h3>
            </div>
            <div id="stat-container-2" class="stat-container">
                <h3 class="stat-name">
                    this is a stat name
                </h3>
            </div>
            <div id="stat-container-3" class="stat-container">
                <h3 class="stat-name">
                    this is a stat name
                </h3>
            </div>
            <div id="stat-container-4" class="stat-container">
                <h3 class="stat-name">
                    this is a stat name
                </h3>
            </div>
        </div>
    </div>
</body>
</html>