<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/approve.css">
</head>
<body>
    <div id="main">
        <h1>404</h1>
        <span>We could not find the requested url :( </span>
    </div>
</body>
</html>